# Node modules
/node_modules/

# Build output
/dist/
/out-tsc/
/tmp/
/coverage/

# IDE files
/.idea/
/.vscode/

# Environment files
/src/environments/*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db